.signup-page 
{
  background-color: rgb(186, 218, 255);
  background-image: url('Images/BG3.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container2 
{
  background-color: rgba(255, 255, 255, 0.447);
  border-radius: 10px;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  margin: 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 2px 2px 2px 2px #0000000b;
}

.logo 
{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: auto;
}

.form-container 
{
  margin: 20px;
  margin-right: 40px;
}

.custom-input 
{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-family: 'Sulphur Point', sans-serif;
}

.error-input 
{
  border: 2px solid rgb(255, 0, 0);
}

.sign-up 
{
  font-family: 'Sulphur Point', sans-serif;
  background-color: rgb(255, 168, 168);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 15px;
}

.sign-up:hover 
{
  background-color: rgb(255, 97, 102); 
}

.already-member 
{
  text-align: center;
  margin-top: 20px;
  font-family: 'Sulphur Point', sans-serif;
}

.already-member a 
{
  color: #4285f4; 
  text-decoration: none;
}

.already-member a:hover 
{
  text-decoration: underline;
}


@media screen and (max-width: 600px) 
{
  .container2
  {
    max-width: 100%;
    border-radius: 0;
  }

  .custom-input 
  {
    margin: 5px 0;
  }
}

@media screen and (min-width: 1200px) 
{
  .container2 
  {
    max-width: 600px;
  }
}

.google-button 
{
  background-color: rgb(232, 255, 244);
  display: flex; 
  align-items: center; 
  font-family: 'Sulphur Point', sans-serif;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  padding-left: 10px;
  font-size: 15px;
}

.google-logo 
{
  width: 24px; 
  height: auto;
  margin-right: 10px; 
}

.google-button:hover 
{
  background-color: rgb(202, 202, 202); 
}

.google-button-container 
{
  display: flex;
  justify-content: center; 
  margin-top: 10px;
}

